/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2020, 3:07:32 AM
    Author     : adria
*/

body{
    background-image: url(https://static01.nyt.com/images/2020/08/12/business/12football-01/12football-01-videoSixteenByNineJumbo1600.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    
}